{% extends 'base.html.twig' %}

{% block title %}Espace client | E-Motion{% endblock %}

{% block body %}
<div>
    {% if app.user %}
    <b><h1>Espace Client</h1></b>
    <ul>
        <a href="{{path('app_change_password')}}"><li>Changer de mot de passe</li></a>
        <a href="{{path('app_modif_info', {id: app.user.id})}}"><li>Modifier information personnel</li></a>
        <a href="{{path('app_historique_commande')}}"><li>Historique des commandes</li></a>
    </ul>
    <b><h1>Espace Professionnel</h1></b>
    <p>Pour devenir professionnel, veuillez ajouter un véhicule</p>
        <a href="{{path('app_ajout_vehicule')}}"><li>Ajouter un véhicule</li></a>
        <a href="{#{path('app_mes_vehicules')}#}"><li>Mes véhicules</li></a>
    {% else %}
        <a href="{{path('app_connexion_client')}}"><h1>Veuillez vous connecter avant</h1></a>
    {% endif %}
</div>
{% endblock %}
