{% extends 'base.html.twig' %}
{% block title %}Modifier mes informations | E-Motion{% endblock %}

{% block body %}
    <a href="{{path('app_user_space')}}">Retour menu</a>
    <h1>Modification informations utilisateur</h1>
<div>
     {{ form_start(UpdateInformation) }}
        {{ form_row(UpdateInformation.nom, {'attr': {'class': "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"}} ) }}
        {{ form_row(UpdateInformation.prenom, {'attr': {'class': "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"}} ) }}
        {{ form_row(UpdateInformation.email, {'attr': {'class': "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"}} ) }}
        {{ form_row(UpdateInformation.adresse, {'attr': {'class': "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"}} ) }}
        {{ form_row(UpdateInformation.telephone, {'attr': {'class': "appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"}} ) }}
    <a style="color:#2563EB" href="{{ path('app_politique_confidentialite') }}">En validant mon opération, je clame que les informations me concernant sont exactes</a>
    <input type="checkbox" name="valid_term" required/>
        <br>
    <button type="submit" class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">Valider</button>
    <button>
        <a href="{{ path('app_user_space') }}">Annuler</a>
    </button>
    {{ form_end(UpdateInformation) }}
</div>
{% endblock %}
