{% extends 'base.html.twig' %}
{% block title %}Espace client | E-Motion{% endblock %}

{% block body %}
    <a href="{{path('app_user_space')}}">Retour menu</a>
    <h1>Modification information utilisateur</h1>
<div>
    <h1>Espace de connexion</h1>
     {{ form_start(UpdateInformation) }}
        {{ form_row(UpdateInformation.email) }}
        {{ form_row(UpdateInformation.adresse) }}
        {{ form_row(UpdateInformation.telephone) }}
        {{ form_row(UpdateInformation.numeroPermis) }}
    <a style="color:#2563EB" href="/politique_de_confidentialite">En validant mon opération, je clame que les informations me concernant sont exactes</a>
    <input type="checkbox" name="valid_term" required/>
        <br>
    <button style="background-color: cyan;" type="submit" class="btn">Valider</button>
    <button>
        <a href="/espace_client">Annuler</a>
    </button>
    {{ form_end(UpdateInformation) }}
</div>
{% endblock %}
