{% extends 'base.html.twig' %}

{% block title %}Panier | E-Motion{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>




    <div class="example-wrapper">
        <h1 class="text-6xl"> Panier </h1><br/><br/>
        <p>Vous avez <b>{{idPoint}}</b> point(s) de fidélité(s) où 1 point est égal à 1€ en moins.
        {% if locationClient %}
            <table class="table w-full border-4 border-sky-300">
                <thead>
                <tr class="min-w-full border-4 border-red-300">
                    <th class="border-4 border-sky-300">{{ 'Date de début' }}</th>
                    <th class="border-4 border-sky-300 ">{{ 'Date de fin' }}</th>
                    <th class="border-4 border-sky-300 ">{{ 'Vehicule' }}</th>
                    <th class="border-4 border-sky-300 ">{{ 'Prix' }}</th>
                    <th class="border-4 border-sky-300 "></th>
                </tr>
                </thead>
                {% for l in locationClient %}
                {% for v in l.VehiculeID %}

                <tbody>

                <tr>
                    <td>{{ l.DateDeDebut | date('d/m/Y') }}</td>
                    <td>{{ l.DateDeFin | date('d/m/Y') }}</td>
                    <td> ({{ v.marque }}) - {{ v.immatricule }}</td>
                    <td>{{ l.Prix }}</td>
                    <td>
                        <form action="{{ path('panier_delete', {'id' : l.id}) }}" method="post">
                            <button type="submit"> Suppr</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}
                {% endfor %}


                </tbody>
            </table><br/><br/>
            <input type="checkbox" name="price" value="{{idPoint}}" onchange="ReducPrice(this)"> Utiliser la réduction ?</input>
            <p id="result"> TOTAL : {{ totalPrice }} € TTC </p><br/><br/><br/>
            <p>
            <form action="{{ path('stripe', {'idPoint': idPoint}) }}" method="post">
                <button class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                        type="submit"> Payer
                </button>
            </form>




        {% else %}
            <p> Votre panier est vide. Consultez notre liste d'utilisataires pour louer un véhicule</p>

            {#        <p> ya des locations dans le panier</p> #}
        {% endif %}
    </div>

<script type="text/javascript">
let soustrationTotal = {{totalPrice}};
let ReducPrice = (elem) => {
  let value = parseFloat(elem.value.replace(/\$|,/g, ''), 2);
  elem.checked ? (soustrationTotal -= value) : (soustrationTotal += value);
  document.getElementById('result').innerHTML =  "TOTAL : "+soustrationTotal+" € TTC";
};
</script>

{% endblock %}
