{% extends 'base.html.twig' %}
{% block title %}Tableau de bord | E-Motion{% endblock %}

{% block body %}
<section class="w-full">
    <div class="container mx-auto flex flex-col flex-wrap items-center justify-center">
        <h1 class="w-full mt-6 mb-2 text-5xl font-bold leading-tight text-center text-gray-800">
            Tableau de bord
        </h1>
        <div class="w-full mb-12">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        
        <div class="w-full mb-12 mx-auto flex flex-col items-center justify-center">
            <h2 class="font-bold mb-4 text-3xl leading-tight">Liste des utilisateurs</h2>
            <table class="w-3/4 table-auto border-4 border-sky-300 mb-4">
                <thead>
                    <tr class="min-w-full border-4 border-red-300">
                        <th class="border-4 border-sky-300">Nom</th>
                        <th class="border-4 border-sky-300">Prénom</th>
                        <th class="border-4 border-sky-300">Email</th>
                        <th class="border-4 border-sky-300">Adresse</th>
                        <th class="border-4 border-sky-300">Téléphone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in client %}
                        <tr>
                            <td class="">{{ c.nom }}</td>
                            <td class="">{{ c.prenom }}</td>
                            <td class="">{{ c.email }}</td>
                            <td class="">{{ c.adresse }}</td>
                            <td class="">{{ c.telephone }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="w-full mb-12 mx-auto flex flex-col items-center justify-center">
            <h2 class="font-bold mb-4 text-3xl leading-tight">Liste des véhicules</h2>
            {% if vehicule is empty %}
                <p class="text-center">Aucun véhicule n'a été mis en location.</p>
            {% else %}
                <table class="w-3/4 table-auto border-4 border-sky-300 mb-4">
                    <thead>
                        <tr class="min-w-full border-4 border-red-300">
                            <th class="border-4 border-sky-300">Immatricule</th>
                            <th class="border-4 border-sky-300">Marque</th>
                            <th class="border-4 border-sky-300">Modèle</th>
                            <th class="border-4 border-sky-300">N° de série</th>
                            <th class="border-4 border-sky-300">Couleur</th>
                            <th class="border-4 border-sky-300">Nombre de kilomètres</th>
                            <th class="border-4 border-sky-300">Date d'achat</th>
                            <th class="border-4 border-sky-300">Prix d'achat</th>
                            <th class="border-4 border-sky-300">Classe</th>
                            <th class="border-4 border-sky-300" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vehicule %}
                            <tr class="border-4 border-sky-300">
                                <td>{{v.immatricule}}</td>
                                <td>{{v.marque}}</td>
                                <td>{{v.modele}}</td>
                                <td>{{v.num_serie}}</td>
                                <td>{{v.couleur}}</td>
                                <td>{{v.nb_kilometre}}</td>
                                <td>{{v.date_achat | date('d-m-Y') }}</td>
                                <td>{{v.prix_achat}}</td>
                                <td>{{v.Classe.name}}</td>
                                <td>
                                    <a href="{{ path('app_modif_vehicule',{idUser: app.user.id, id: v.id}) }}">
                                        Editer
                                    </a>
                                </td>
                                <td>
                                    <a onclick="myFunction()" 
                                        href="{{ path('app_supp_vehicule',{idUser: app.user.id, id: v.id}) }}">
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <div class="max-w-7xl w-full mb-12 mx-auto flex flex-col items-center justify-center">
            <h4 class="font-bold mb-2 text-xl leading-tight">Vérifier les locations non rendues</h4>
            <a class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                href="{{ path('verif_locations') }}">
                Vérification
            </a>
        </div>
    </div>
    
</section>
{% endblock %}