{#<footer class="flex justify-between items-center md:flex-row gap-y-4 px-5 py-4 bg-orange-500">#}
{#    <p>© {{ "now"|date("Y") }} E-Motion. Tous droits réservés.</p>#}
{#    <ul class="flex">#}
{#        <li class="mx-[5px]">#}
{#            <a class="text-blue-600 hover:text-blue-500 p-2" href="{{ path('app_mentions_legales') }}">#}
{#                Mentions légales#}
{#            </a>#}
{#        </li>#}
{#        <li class="mx-[5px]">#}
{#            <a class="text-blue-600 hover:text-blue-500 p-2" href="{{ path('app_politique_confidentialite') }}">#}
{#                Politique de confidentialité#}
{#            </a>#}
{#        </li>#}
{#        <li class="mx-[5px]">#}
{#            <a class="text-blue-600 hover:text-blue-500 p-2" href="{{ path('app_cgv') }}">#}
{#                Conditions générales de vente#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{#</footer>#}

<footer class="bg-blue-600">
    <div class="container mx-auto px-8">
        <div class="w-full flex flex-col md:flex-row py-6">
            <div class="flex-1 mb-6 text-black">
                <a class="text-pink-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="{{ path('app_not_found') }}">
                    <!--Icon from: http://www.potlabicons.com/ -->
                    <svg class="h-8 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005">
                    </svg>

                </a>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-300 md:mb-6">Contact</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}"
                           class="no-underline hover:underline text-gray-300 hover:text-pink-500">FAQ</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">Aide</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">Support</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-white md:mb-6">Legal</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_mentions_legales') }}" class="no-underline hover:underline text-white hover:text-pink-500">Mentions Légales</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_politique_confidentialite') }}" class="no-underline hover:underline text-white hover:text-pink-500">Politique de confidentialité</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_cgv') }}" class="no-underline hover:underline text-white hover:text-pink-500">CGV</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-300 md:mb-6">Social</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">Facebook</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">Linkedin</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-300 md:mb-6">Company</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">Official Blog</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">About Us</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="{{ path('app_not_found') }}" class="no-underline hover:underline text-gray-300 hover:text-pink-500">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="https://www.freepik.com/free-photos-vectors/background" class="text-white">E-Motion. Tous droits réservés.</a>
</footer>
