<header class="bg-orange-500 h-32 flex items-center justify-center">
    <nav class="">
        <ul class="flex gap-x-6">
            <li><a href="{{ path('app_default') }}" class="text-blue-600 hover:text-blue-500">Accueil</a></li>
            {# Si un client est connecté #}
            {% if app.user %}
            <li><a href="{{ path('app_user_space')}}" class="text-blue-600 hover:text-blue-500">Espace Utilisateur</a></li>
            <li><a href="{{ path('app_panier') }}" class="text-blue-600 hover:text-blue-500">Panier</a></li>
            <li><a href="{{ path('app_logout') }}" class="text-blue-600 hover:text-blue-500">Déconnexion</a></li>
            {# Si un client n'est pas connecté #}
            {% else %}
            <li><a href="{{ path('app_connexion_client') }}" class="text-blue-600 hover:text-blue-500">Se connecter</a></li>
            {% endif %}
        </ul>
    </nav>

    {% for type, messages in app.flashes %}
        {% for m in messages %}
            <p class="py-3 px-5 border border-solid border-transparent rounded {{ type }}">{{ m }}</p>
        {% endfor %}
    {% endfor %}
</header>